/*This file is supporsed to be generated,
 *if you want to modify the style,
 * please edit the scss file with the same file name*/

@import url(http://fonts.googleapis.com/css?family=Exo+2);

@font-face
{
    font-family: "SourceSansPro-ExtraLight";
    src: url('fonts/SourceSansPro-ExtraLight.otf') format('OpenType');
}

@font-face
{
    font-family: "SourceSansPro-Regular";
    src: url('fonts/SourceSansPro-Regular.otf') format('OpenType');
}
@mixin flex-container($flex-direction,$flex-wrap,$justify-content,$align-items){
    display:  -webkit-box;
    display:     -moz-box;
    display:  -ms-flexbox;
    display: -webkit-flex;
    display:         flex;


    -webkit-flex-flow:$flex-direction $flex-wrap;
       -moz-flex-flow:$flex-direction $flex-wrap;
        -ms-flex-flow:$flex-direction $flex-wrap;
            flex-flow:$flex-direction $flex-wrap;


    -webkit-justify-content:$justify-content;
       -moz-justify-content:$justify-content;
        -ms-justify-content:$justify-content;
            justify-content:$justify-content;//alignment along the main axis

    -webkit-align-items:$align-items;
       -moz-align-items:$align-items;
        -ms-align-items:$align-items;
            align-items:$align-items;//alignment along the cross axis
}

@mixin flex-element($flex-grow,$flex-shrink,$flex-basis){
    -webkit-box-flex:$flex-grow $flex-shrink $flex-basis;
       -moz-box-flex:$flex-grow $flex-shrink $flex-basis;
        -webkit-flex:$flex-grow $flex-shrink $flex-basis;
            -ms-flex:$flex-grow $flex-shrink $flex-basis;
                flex:$flex-grow $flex-shrink $flex-basis;
}

@mixin transition($arg){
    -webkit-transition:$arg;
       -moz-transition:$arg;
         -o-transition:$arg;
            transition:$arg;
}

$link-color:rgb(170, 170, 170);
$link-hover-color:lighten($link-color,60%);
$banner-back-color:rgb(48,48,48);
$banner-fore-color:rgb(170, 170, 170);

$exlight-font:"SourceSansPro-ExtraLight", "华文细黑";
$light-font:"SourceSansPro-Regular","华文细黑";
$normal-font:'Exo 2', "华文细黑";

body{
    @include flex-container(column,nowrap,space-between,strech);
    background:lighten($banner-back-color,50%);
    font-size:18px;
    padding:0;
    margin:0;
    height:100%;
    font-family:$normal-font;
}


a{
    &:link{
        color:$link-color;
        text-decoration:none;
    }
    &:visited{
        color:$link-color;
    }
    &:hover{
        color:$link-hover-color;
        text-shadow:0 0 10px #cceeff;
    }
    &:active{
        color:$link-hover-color;
    }
}


#navbar{
    @include flex-element(0,0,auto);
    @include flex-container(row,nowrap,space-between,center);
    z-index:9100;
    width:auto;
    background:$banner-back-color;
    height:2em;
}
#title{
    @include flex-element(1,0,3);
    margin:{
        right:auto;
        left:1em;
        top:auto;
        bottom:auto;
    }
    color:white;
}

#nav-links{
    @include flex-container(row,wrap,center,strech);
    @include flex-element(0,0,1);
    text-align:center;
    a{
        @include flex-element(1,0,auto);
        @include transition(all 0.3s ease);
        padding:0 1em;
        position:relative;
        &:before , &:after{
            position:absolute;
            opacity:0;
            @include transition(all 0.3s ease);
        }
        &:before{
            left:1em;
            content:">";
        }
        &:after{
            right:1em;
            content:"<";
        }

        &:hover{
            &:before , &:after{
                opacity:1;
            }
            &:before{
                left:0.1em;
                content:">";
            }
            &:after{
                right:0.1em;
                content:"<";
            }
        }
    }
}
#content{
    @include flex-element(1,0,auto);
    @include flex-container(row,wrap,center,center);
}

#large-view{
    @include flex-element(0,0,auto);
    height:auto;
}
#large-view-pic{
    height:300px;
}
.summary{
    @include flex-element(0,0,auto);
    @include flex-container(row,nowrap,center,center);
    @include transition(all 0.5s ease);
    margin-left:2em;
    width:auto;
    display:none;
    &.active{
        display: block;
        margin-left:2em;
    }
}
#album{
    @include flex-element(0,0,auto);
    @include flex-container(row,nowrap,space-around,center);
    @include transition(all 0.3s ease);
    color:$banner-fore-color;
    z-index:9000;
    padding:0;
    margin:0;
    width:auto;
    background:darken($banner-back-color,5%);
    &:hover{
        background:$banner-back-color;
    }
}
.small-view{
    @include flex-element(1,1,auto);
    @include flex-container(row,wrap,center,center);
    @include transition(all 0.3s ease);
    text-align:center;
    padding:1em 0;
    img{
        max-height:60px;
        margin:{
            left:0.5em;
            right:0.5em;
        }
    }
    &:hover{
        color:lighten($banner-fore-color,50%);
        background:lighten($banner-back-color,10%);
    }
    &.active{
        color:darken($banner-fore-color,50%);
        background:lighten($banner-back-color,50%);
    }
}

@import "style-responsive.scss"
